<div class="container">
  <div class="input-group mb-3 col-md-4">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">поиск по сайту</span>
    </div>
    <input type="text" class="form-control" aria-label="Sizing example input"
           aria-describedby="inputGroup-sizing-default" #searchText>
    <button type="button" class="btn btn-outline-dark" (click)="search(searchText.value)">
      Найти
    </button>
  </div>

<div class="card text-center m-3">
<div class="card-body">
  <ul class="movieList">
    <li class="container col-md-3" *ngFor="let item of pageOfItems">
      <div class="titleMovie"><p>Название фильма: {{item?.title}}</p></div>
      <div class="yearMovie"><p>Год выпуска: {{item?.year}}</p></div>
      <div class="posterMovie"><p>Постер:</p><img src="{{item?.poster}}" width="200"></div>
    </li>
  </ul>
</div>
</div>
<div class="card-footer pb-0 pt-3">
  <jw-pagination  [items]="items"  (changePage)="onChangePage($event)"></jw-pagination>
</div>
</div>

