<div class="container">
<div class="input-group mb-3 col-md-4">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">поиск по сайту</span>
  </div>
  <input type="text" class="form-control" aria-label="Sizing example input"
         aria-describedby="inputGroup-sizing-default" #searchText>
  <button type="button" class="btn btn-outline-dark" (click)="search(searchText.value)">
    Найти
  </button>
</div>
</div>
  <div class="card text-center m-3">
    <div class="card-body">
      <ul class="movieList">
        <li class="container col-md-2"
            *ngFor="let item of searchMovieList?.movies">
          <app-movie [item]="item"></app-movie>
        </li>
      </ul>
    </div>
  </div>


