<ul class="movieList">
  <li>
    <div class="titleMovie"><p>Название фильма: {{item?.title}}</p></div>
    <div class="yearMovie"><p>Год выпуска: {{item?.year}}</p></div>
    <div class="posterMovie"><p>Постер:</p><img src="{{item?.poster}}" width="200"></div>
  </li>
</ul>

